<!DOCTYPE html>
<html>

<body>
        <H1>Cart / Order - HBS </H1>
    <ul>
        {{#each products}}
        <li>{{@key}}:{{this.Ten}} {{this.Gia}} {{this.Soluong}}</li>
        {{/each}}
    </ul>
</body>

</html>